# Copy to terraform.tfvars only if you need to change a default. All variables have safe defaults.
# region            = "eu-west-2"
# state_bucket_name = "aws-platform-tfstate-e62514a9b973c8e95b9ebccad0"
# github_repository = "crypticseeds/aws-platform"
